<%= link_to "Logout", logout_path, method: :delete %>
Links index page
<h1>Link</h1>
<body>
  <div>
    <label>Title</label>
    <input type='text' id='link-title' placeholder='Link title'>
  </div>
  <div>
    <label>Url<label>
    <input type='text' id='link-url' placeholder='Link url'>
  </div>
  <br>
  <button id="create-link">Create Link</button>
  <br>
  <br>
  <div id='links-column'>
  </div>
</body>
